canvas{
    position: absolute;
    top: 0;
    height: 94.5%;
    background-color: white;
    cursor:crosshair
}
body{
    background-color: gray;
}
#leftmenu{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: lightgray;
}
#rightmenu{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: lightgray;
}
*{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
p{
    user-select: none;
}
button{
    width: 100px;
    cursor: pointer;
}
button:hover{
    width: 150px;
    background-color: white;
}
#FPS{
    position: absolute;
    top: 0;
    right: 0;
}
#hidden{
    display: none;
}
#leftmenu{
    overflow: scroll;
}
/*
#bsp{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: xx-small;
}*/